.vscode/**
.vscode-test/**
src/**
test/**
node_modules/**
.gitignore
.yarnrc
.editorconfig
*.vsix
**/*.map
**/*.ts
!dist/**
tsconfig.json
esbuild.js
.eslintrc.json
eslint.config.mjs
.prettierrc
.env
.env.*
*.pem
*.key
**/*.spec.ts
coverage/**
.github/**
.DS_Store
out/**
*.md
!README.md
!CHANGELOG.md
